DB_HOST=localhost
DB_NAME=wppbot
DB_USER=wppbot
DB_PASSWORD=wppbot
DB_PORT=5433
DB_SSL=false
TELEGRAM_BOT_TOKEN=seu_token_do_bot
TELEGRAM_POLLING=true
JWT_SECRET=sua_chave_secreta_para_jwt
JWT_EXPIRES_IN=1d
BCRYPT_SALT_ROUNDS=10
